.container {
  text-align: left;
  padding: 1.5em;
  width: 100%;
}

.options-toolbar {
  margin-bottom: 10px;
  border-radius: 2px;
}

.mat-column-setDentist {
  width: 40px;
  padding-right: 8px !important;
}

.mat-column-quitDentist {
  width: 40px;
  padding-right: 8px !important;
}
