<app-loader
  *ngIf="{ isLoading: isLoading | async, resourcesCategories: resourcesCategories$ | async } as state"
  [isLoading]="state.isLoading"
  message="Cargando..."
  height="400px"
  width="100%"
>
  <form [formGroup]="resourceForm" (ngSubmit)="handleSetResource(resourceForm)">
    <h1 mat-dialog-title class="mat-title">Item {{ resourceForm.value.name }}</h1>
    <div mat-dialog-content class="mat-body h-100">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlexFill>
          <mat-label>Nombre del item</mat-label>
          <input matInput formControlName="name" />
          <mat-icon matSuffix></mat-icon>
          <mat-hint>Indique el nombre del item</mat-hint>
          <mat-error>Indique el nombre del item, requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlexFill>
          <mat-label>Categoría</mat-label>
          <mat-select [formControl]="resourceForm.get('categories')" [compareWith]="compareResourceCategory" multiple>
            <mat-option
              *ngFor="let category of state.resourcesCategories; trackBy: trackByCategory"
              [value]="category"
              [id]="category?.resourceCategoryID"
              >{{ category?.name | titlecase }}</mat-option
            >
          </mat-select>
          <mat-hint>Indique la(s) categoría(s) del item</mat-hint>
          <mat-error>Indique la(s) categoría(s) del item, requerido</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="50%" fxFlexFill>
          <mat-label>Costo del item</mat-label>
          <input matInput formControlName="price" type="number" />
          <mat-hint>Indique el costo del item</mat-hint>
          <mat-error>Indique el costo del item, requerido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="50%" fxFlexFill>
          <mat-label>Existencias del item</mat-label>
          <input matInput formControlName="currentStock" type="number" />
          <mat-hint>Indique el número de existencias del item</mat-hint>
          <mat-error>Indique el número de existencias del item</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="33.3%" fxFlexFill>
          <mat-label>Mínimo de existencias</mat-label>
          <input matInput formControlName="min" type="number" />
          <mat-hint>Mínimo de existencias</mat-hint>
          <mat-error>Mínimo de existencias</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33.3%" fxFlexFill>
          <mat-label>Máximo de existencias</mat-label>
          <input matInput formControlName="max" type="number" />
          <mat-hint>Máximo de existencias</mat-hint>
          <mat-error>Máximo de existencias</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="33.3%" fxFlexFill>
          <mat-label>Unidad de medición</mat-label>
          <input matInput formControlName="unit" type="text" />
          <mat-hint>Indique la unidad de medición</mat-hint>
          <mat-error>Indique la unidad de medición</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field appearance="outline" fxFlex="100%" fxFlexFill>
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-hint>Notas u observaciones del item (opcional)</mat-hint>
        </mat-form-field>
      </div>
      <input type="hidden" formControlName="resourceID" />
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
      <button type="button" mat-button color="warn" (click)="handleCloseDialog()">Cerrar</button>
      <button type="submit" mat-button cdkFocusInitial color="primary">
        <ng-container *ngIf="!data?.resource">
          Crear item
        </ng-container>
        <ng-container *ngIf="data?.resource">
          Actualizar item
        </ng-container>
      </button>
    </div>
  </form>
</app-loader>
