<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [style.position]="'fixed'"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      ngClass.gt-sm="has-border"
    >
      <mat-toolbar>
        <img src="assets/images/disenosonrisazm.png" alt="DSZM" height="40" width="40" />
        <span translate>APP_NAME</span>
        <div fxFlex></div>
        <div>
          <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <mat-list>
              <mat-list-item>
                <span>Iniciaste sesión como</span>&nbsp;<b>{{ username$ | async }}</b>
              </mat-list-item>
            </mat-list>
            <button mat-menu-item (click)="logout()">Cerrar sesión</button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <nav>
        <mat-list>
          <a mat-list-item routerLink="/appointments" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>event_note</mat-icon><span>Citas</span>
          </a>

          <a mat-list-item routerLink="/services" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>local_offer</mat-icon><span>Servicios</span>
          </a>

          <a mat-list-item routerLink="/inventory" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>inbox</mat-icon><span>Inventario</span>
          </a>

          <a mat-list-item routerLink="/services" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>attach_money</mat-icon><span>Pagos</span>
          </a>

          <a mat-list-item routerLink="/users" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>group</mat-icon><span>Usuarios</span>
          </a>

          <a mat-list-item routerLink="/help" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <mat-icon>help</mat-icon><span>Ayuda</span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
